<div class="div-question-detail">
  <mat-card class="question-card">
    <mat-card-header>
      <div mat-card-avatar class ="{{question.icon}} icon-style">

      </div>
      <mat-card-title><h2>{{question.title}}</h2></mat-card-title>
      <mat-card-subtitle><small>Valentin Salina - {{question.createdAt | amLocale:'es' | amTimeAgo}}</small></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> {{question.description}}</p>
    </mat-card-content>
  </mat-card>

  <div class="answer">
    <h3>Respuestas</h3>
    <ul class="answer-list" *ngIf="question.answers.length > 0">
      <li *ngFor="let answer of question.answers">
        <h5>{{answer.user.fullName()}}
          <small>{{answer.createdAt | amLocale:'es' | amTimeAgo }}</small>
        </h5>
        <p class="descripcion">{{answer.description}}</p>
      </li>

    </ul>
    <p *ngIf="question.answers.length == 0">
      Se el primero en responder esta pregunta
    </p>

    <app-answer-form [question] = "question" class="answer-form"></app-answer-form>
  </div>
</div>
